@using Table.Dto.Restaurant
@model IEnumerable<RestaurantOutputDto>
<div class="d-flex justify-content-end ">
        <a asp-area="Admin" asp-controller="Restaurants" asp-action="Upsert" class="btn btn-primary">Dodaj</a>
</div>
<table class="table">
    <tr>
        <th>Nazwa</th>
        <th>Adres</th>
        <th>Godzina Otwarcia</th>
        <th>Godzina Zamkniecia</th>
        <th></th>
    </tr>
    @foreach(var restaurant in Model)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Address</td>
            <td>@restaurant.OpeningHour</td>
            <td>@restaurant.ClosingHour</td>
            <td>
                <a asp-area="Admin" asp-controller="Restaurants" asp-action="Upsert" asp-route-id="@restaurant.Id" class="btn btn-secondary">Edytuj</a>
                <a asp-area="Admin" asp-controller="Restaurants" asp-action="Delete" asp-route-id="@restaurant.Id" class="btn btn-danger">Usuń</a>
            </td>

        </tr>
    }
</table>